.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.btn {
  background-color: gray;
}
.right {
  width: 33%;
  button {
	float: right;
  }
}
.navBtns {
  align-self: flex-start !important;
  width: 33%;
}

.title {
}
.dropdown {
  width: 33%;
  text-align: center;
}
