.area {
  width: auto;
  border: 1px solid rgba(224, 224, 224, 1);
  box-sizing: border-box;
  margin: 5px 5px 5px 0;
}
.content {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  padding: 0.5em;
}

.rightColumn {
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;

}
.dropdown {
  color: black;
  display: inline-block;
}
