.area {
  width: auto;
  border: 1px solid rgba(224, 224, 224, 1);
  box-sizing: border-box;
  margin: 5px 5px 5px 0;
}
.content {
  box-sizing: border-box;
  display: inline-block;
  width: 75%;
  height: 100%;
  border-right: 1px solid rgba(224, 224, 224, 1);
}

.rightColumn {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;

}
.dropdown {
  color: black;
  float: right;
}
