.list {
  overflow-y: scroll;
  height: 80%;
  div {
	span {
	  div {
		div {
		  font-size: 0.9em !important;
		  padding-top: 4px !important;
		  padding-bottom: 4px !important;
		  svg {
			margin: auto 0px auto 12px !important;
		  }
		}
	  }
	}
  }
}
