.secondaryText {
  font-size: 12px !important;
}

.listItemRightButtons {
  float: right;
}

.contentLeft {
  border-right: 1px solid rgba(224, 224, 224, 1);;
  box-sizing: border-box;
  width: 30%;
}

.contentRight {
  border-left: 1px solid rgba(224, 224, 224, 1);
  box-sizing: border-box;

  width: 69.5%;

  .topBlock {
  max-height: 35%;
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
	display: flex;
	justify-content: space-between;
	.leftBlock{
	  border-right: 1px solid rgba(224, 224, 224, 1);;
	  width: 49%;
	  display: inline-block;
	  box-sizing: border-box;
	  overflow-y: auto;
	}

	.rightBlock {
	  border-left: 1px solid rgba(224, 224, 224, 1);
	  box-sizing: border-box;
	  width: 49%;
	  display: inline-block;
	  overflow-y: auto;
	}
  }

  .middleBlock {
	padding-left: 1%;
	width: 100%;
	.notificationMessage {
	  border: 1px solid rgba(224, 224, 224, 1);
	  margin: 1%;
	  padding: 1%;
	  background-color: antiquewhite;

	}
	.removeBtn {
	  float: right;
	}

	.dropdownWrapper {
	  width: 25%;
	}
  }


}

.contentFooter {
  box-sizing: border-box;
  padding-top: 10px;
}

.contentWrapper {
  position: relative;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

label {
  color: black;
}
.clearfix {
  clear: both;
}
