.secondaryText {
  font-size: 12px !important;
}

.listItemRightButtons {
  float: right;
}

.contentLeft {
  border-right: 1px solid rgba(224, 224, 224, 1);;
  box-sizing: border-box;
  width: 30%;
}
.contentLeft > label {
  margin-top: 0.5em;
  display: block;
}

.contentRight {
  border-left: 1px solid rgba(224, 224, 224, 1);
  box-sizing: border-box;

  width: 69.5%;

  .topBlock {
	.header {
	  position: relative;
	  height: 15%;
	  label {
		padding-left: 5px;
	  }
	  .findInput {
		position: absolute !important;
		width: 60% !important;
		margin-top: -1em;
		right: 5%;
	  }
	}
	max-height: 20%;
	padding-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
	display: flex;
	justify-content: space-between;
	.leftBlock{
	  border-right: 1px solid rgba(224, 224, 224, 1);;
	  width: 49%;
	  display: inline-block;
	  box-sizing: border-box;
	}

	.rightBlock {
	  border-left: 1px solid rgba(224, 224, 224, 1);
	  box-sizing: border-box;
	  width: 49%;
	  display: inline-block;
	}
  }

  .middleBlock {
	padding-left: 1%;
	width: 100%;
	.removeBtn {
	  float: right;
	}

	.dropdownWrapper {
	  width: 25%;
	}
	.inputs {
	  display: flex;
	  justify-content: space-between;
	}
  }


}

.contentFooter {
  box-sizing: border-box;
  padding-top: 10px;
}

.contentWrapper {
  position: relative;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

label {
  color: black;
}
.clearfix {
  clear: both;
}

.dropdown {
  font-size: 12px !important;
  div > div {
	  color: black !important;
	padding-left: 0px !important;
	margin-left: 0px !important;
  }
}
